@import "tailwindcss";

/* Light mode default */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Apply dark mode when <html class="dark"> */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
